<a class="menutoggle"><i class="fa fa-bars"></i></a>

<form class="searchform" action="/order/search" method="post">
    <input type="text" class="form-control" name="OrderId" placeholder="sipariş numarası..." />
</form>

<div class="header-right">
    <ul class="headermenu">
        <li>
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-globe"></i>
                    <span class="badge">5</span>
                </button>
                <div class="dropdown-menu dropdown-menu-head pull-right">
                    <h5 class="title">You Have 5 New Notifications</h5>
                    <ul class="dropdown-list gen-list">
                        <li class="new">
                            <a href="#">
                                <span class="thumb"><img src="/assets/images/photos/user4.png" alt="" /></span>
                                <span class="desc">
                                    <span class="name">Zaham Sindilmaca <span class="badge badge-success">new</span></span>
                                    <span class="msg">is now following you</span>
                                </span>
                            </a>
                        </li>
                        <li class="new">
                            <a href="#">
                                <span class="thumb"><img src="/assets/images/photos/user5.png" alt="" /></span>
                                <span class="desc">
                                    <span class="name">Weno Carasbong <span class="badge badge-success">new</span></span>
                                    <span class="msg">is now following you</span>
                                </span>
                            </a>
                        </li>
                        <li class="new">
                            <a href="#">
                                <span class="thumb"><img src="/assets/images/photos/user3.png" alt="" /></span>
                                <span class="desc">
                                    <span class="name">Veno Leongal <span class="badge badge-success">new</span></span>
                                    <span class="msg">likes your recent status</span>
                                </span>
                            </a>
                        </li>
                        <li class="new">
                            <a href="#">
                                <span class="thumb"><img src="/assets/images/photos/user3.png" alt="" /></span>
                                <span class="desc">
                                    <span class="name">Nusja Nawancali <span class="badge badge-success">new</span></span>
                                    <span class="msg">downloaded your work</span>
                                </span>
                            </a>
                        </li>
                        <li class="new">
                            <a href="#">
                                <span class="thumb"><img src="/assets/images/photos/user3.png" alt="" /></span>
                                <span class="desc">
                                    <span class="name">Nusja Nawancali <span class="badge badge-success">new</span></span>
                                    <span class="msg">send you 2 messages</span>
                                </span>
                            </a>
                        </li>
                        <li class="new"><a href="#">See All Notifications</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <img src="/assets/images/photos/loggeduser.png" alt="" />
                    @ViewBag.PersonFullname
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                    <li><a href="/people/me"><i class="glyphicon glyphicon-user"></i> Hesabım</a></li>
                    <li><a href="/people/logoff"><i class="glyphicon glyphicon-log-out"></i> Güvenli Çıkış</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>